body {
    background-color: darkblue; /* Set the background color */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
  }
  
#map {
    /* Add any specific styling for the map if needed */
    margin-bottom: 20px; /* Add spacing between the map and scatter plot */
  }
  
#scatter_plot {
    /* Add any specific styling for the scatter plot if needed */
    margin-top: 20px;
  }